.content3{
    margin: 20px auto;
    width: 350px;
    border: 1px solid #999;
    padding: 10px;
}
.content3 h1{
    color: red;
    text-align: center;
}
.content3 div .image{
    margin: 20px 0px;
    text-align: center;
}
.content3 div .image img{
    margin: 10px 0px;
}
.content3 div .image a{
    display: block;
    background-color: #9eb9c2;
    padding: 3px 10px;
    text-decoration: none;
    color: white;
}
.content3 div .image a:hover{
    color: gold;
}